@import "node_modules/tokens/tokens";

.toolbar {
  width: 100%;
  display: flex;
}
.toolbar-left {
  display: flex;
}
.toolbar-right {
  display: flex;
  margin-left: auto;
}

.toolbar-left > * {
  margin-right: map-get($global-spacing, small);
}
.toolbar-left > *:last-child {
  margin-right: 0;
}

.toolbar-right > * {
  margin-left: map-get($global-spacing, small);
}
.toolbar-right > *:first-child {
  margin-left: 0;
}

.toolbar-clear {
  clear: both;
}
