$global-color-white: #fff;

$global-color-gray: (
  100: #f4f4f4
);

$global-color-pink: (
  500: #d95988
);

$global-color-blue: (
  300: #4fb4de
);

/* Text */

$global-color-text: (
  primary: map-get($global-color-gray, 800)
);
